src/QT_Demo/MyTest_02_Widgets.pro.user
src/QT_Demo/debug/
src/QT_Demo/ui_form1.h
src/QT_Demo/Makefile.Release
src/QT_Demo/Makefile.Debug
src/QT_Demo/Makefile
src/QT_Demo/.qmake.stash
src/QT_Demo/ui_widget.h
src/QT_Demo/ui_entry_form.h
src/QT_Demo/ui_spinbox_form.h
